//
// COLORS
$primary-backgroud-color: #E5E5E5;
$secondary-backgroud-color: #CBC1B1;
$input-color: #7C7474;
$primary-text-color: #000000;
$secondary-text-color: #F8F7EC;
//
// FONTS
$primary-font: 'Lato', sans-serif;
//
// MIXINS
@mixin transparent-input {
    background-color: rgba($color: $input-color, $alpha: 0.3);
}
@mixin container {
    width: 80%;
    margin: auto;
}
@mixin upper-case {
    text-transform: uppercase;
}