@import "reset";
@import "config";

// Global

body{
    background-color: $primary-backgroud-color;
    font-family: $primary-font;
    color: $primary-text-color;
}

img{
    height: 100%;
}

.container{
    @include container;
}

.color-cover{
    background-color: $secondary-backgroud-color;
}

.desktop-only{
    display: none;
}

// Header, footer

header{
    div.color-cover{
        
        height: 80px;

        div.container{

            height: 100%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            align-content: flex-start;

            div#logo{
                height: 100%;
            }

            nav#navbar{

                div#mobile-logo{
                    height: 100%;
                }
            }
        }
    }
}

footer{
    div.color-cover{

        height: 88px;

        div.container{

            height: 100%;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            align-content: flex-start;

            div#final-text{

                display: flex;
                flex-flow: row wrap;
                justify-content: flex-start;
                align-items: center;
                align-content: flex-start;
                gap: 0.2rem;

                p{
                    @include upper-case;
                    width: 100%;
                    text-align: center;
                    font-weight: 500;
                }
            }
        }
    }
}

// Media queries
@media screen and (min-width: 426px) {

    .mobile-only{
        display: none;
    }

    ul#desktop-navigation{

        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
        align-content: flex-start;
        gap: 0.4rem;

        li{
            padding: 0.4rem;
            @include upper-case;
        }

        li.current{
            @include transparent-input;
        }
    }
}