@import "reset";
@import "config";

// Global

body{
    background-color: $primary-backgroud-color;
    font-family: $primary-font;
    color: $primary-text-color;
    opacity: 0.9;
}

a:hover{
    color: #777777;
}

a:active{
    color: #CCCCCC;
}

img{
    height: 100%;
}

::placeholder{
    color: $primary-text-color;
    opacity: 1;
}

input, textarea{
    color: $primary-text-color;
    @include transparent-input;
    padding: 0.4rem 0.6rem;
}

button.prompt-button{
    @include upper-case;
    background-color: $input-color;
    color: $secondary-text-color;
    box-shadow: 0px 5px 5px 0px rgba($color: $input-color, $alpha: 0.7) ;
    padding: 0.4rem 1rem;
}

.container{
    @include container;
}

.container.main-container{
    padding: 3rem 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    gap: 50px;
}

.color-cover{
    width: 100%;
    background-color: $secondary-backgroud-color;
}

.desktop-only{
    display: none;
}

// Header, footer

header{
    .color-cover{
        
        height: 80px;

        .container{

            height: 100%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            align-content: flex-start;

            div#logo{
                height: 100%;
            }

            nav#navbar{

                div#mobile-logo{
                    height: 100%;
                }
            }
        }
    }
}

ul#desktop-navigation{
    display: none;
}

footer{
    .color-cover{

        height: 88px;

        .container{

            height: 100%;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            align-content: flex-start;

            div#final-text{

                display: flex;
                flex-flow: column nowrap;
                justify-content: flex-start;
                align-items: center;
                align-content: flex-start;
                gap: 0.2rem;

                p{
                    @include upper-case;
                    text-align: center;
                    font-weight: 500;
                }
            }
        }
    }
}

// Media queries
@media screen and (min-width: 769px) {

    .mobile-only{
        display: none;
    }

    ul#desktop-navigation{

        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
        align-content: flex-start;
        gap: 0.4rem;

        li{
            padding: 0.4rem;
            @include upper-case;
        }

        li.current{
            @include transparent-input;
        }
    }
}