@import "config";

// Main
.container{

    #information-slideshow{
        display: grid;
        gap: 60px;
        padding: 30px 0;
      
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    
    
        .flex-item{
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
            align-content: flex-start;
            gap: 1rem;
    
            .item-text{
                font-size: 0.75rem;
                @include upper-case;
            }
        }
    }
}

// Media queries
@media screen and (min-width: 769px) {

    .container #information-slideshow{
        grid-template-columns: repeat(2, 1fr);

        .flex-item{
    
            .item-text{
                font-size: 1.125rem;
            }
        }
    }
}

@media screen and (min-width: 1025px) {

    .container #information-slideshow{
        grid-template-columns: repeat(3, 1fr);
        padding: 160px 0;
    }
}