@import "reset";
/*  */
$default-font: Arial, Helvetica, sans-serif;
$heading-font: Verdana, Geneva, Tahoma, sans-serif;
/*  */
$primary-text-color: rgb(0, 0, 0);
$secondary-text-color: rgb(224, 224, 224);
$action-text-color: rgb(196, 95, 95);
/*  */
$primary-background-color: rgb(200, 200, 200);
$secondary-background-color: rgb(114, 82, 0);
$secondary-background-color-dark: rgb(63, 45, 0);
/*  */
