/* Main stylinq */

.main-container {
  padding-bottom: 2rem;
  margin: auto;
  width: 90vw;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}

.main-container > section {
  text-align: justify;
  padding-top: 2rem;
}

.main-container > section h1,
.main-container > section h2,
.main-container > section p {
  margin-bottom: 1rem;
}
