/* Body + global */

body {
  background-color: rgb(200, 200, 200);
  color: rgb(0, 0, 0);

  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

a:hover {
  color: rgb(196, 95, 95);
}

h1 {
  color: rgb(136, 104, 17);
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  color: rgb(196, 95, 95);
  font-size: 1.6rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

/* Header, footer */

header {
  background-color: rgb(114, 82, 0);
  color: rgb(224, 224, 224);
  width: 100%;

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
}

footer {
  background-color: rgb(114, 82, 0); /* background-color: rgb(34, 52, 72); */
  color: rgb(224, 224, 224);
  width: 100%;

  border-top: 0.3rem solid rgb(0, 0, 0);
  border-bottom: 1.6rem solid rgb(0, 0, 0);

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
}

header > #navbar-container, header > #title-container {
  width: 100%;
  margin: auto;

  padding: 1.2rem 0px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 2rem;
}

header > #title-container{
  width: 100%;
  background-color: rgb(63, 45, 0);

  color: rgb(224, 224, 224);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header > #title-container > div, header > #navbar-container > nav {
  width: 90%;
  margin: auto;
  padding: 0.6rem 1rem;

  color: rgb(224, 224, 224);
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 2rem;
}

header > #navbar-container > nav {
  font-size: 1.2rem;
}

footer > .footer-container {
  width: 90%;
  margin: auto;

  padding: 1.8rem 0rem;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  gap: 2rem;
}

footer > .footer-container > #footer-infobox {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 5rem;
}

footer > .footer-container > #copyright {
  font-size: 0.8rem;
  align-self: flex-end;
}

footer .footer-container h2 {
  padding-bottom: 0.4rem;
}

footer .footer-container p {
  padding-bottom: 0.2rem;
}

/* Main stylinq */

.image-container {
  width: 100%;
  height: 250px;

  border-top: 0.3rem solid rgb(0, 0, 0);
  border-bottom: 0.3rem solid rgb(0, 0, 0);
  padding: 0rem 3rem;

  background-image: url("/images/background-feast.jpg");
  background-position: center; 
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
}

.image-container .title-container{

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
}

.image-container .title-container h1{
  color: rgb(36, 40, 255);
  font-size: 4rem;
}


.main-container {
  padding-bottom: 2rem;
  margin: auto;
  width: 90vw;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}

.main-container > section {
  text-align: justify;
  padding-top: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.1rem;
}

.main-container > section h1,
.main-container > section h2,
.main-container > section p {
  margin-bottom: 1rem;
}
