.food-container {
  width: 50vw;
  margin: auto;

  color: rgb(0, 0, 0);
  border: 0.2rem dashed rgb(0, 0, 0);
}

.food-container h3 {
  width: 100%;
  padding: 0.8rem 0;

  background-color: rgb(133, 70, 70);
  text-align: center;
  font-size: 1.5rem;
}

.food-container .food-category-table {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.food-container .food-category-table .food-item {
  width: 100%;
  padding: 0.2rem 1rem;
  position: relative;
}

.food-container .food-category-table div.food-item:nth-child(odd) {
  background-color: rgb(172, 130, 130);
}

.food-container .food-category-table div.food-item:nth-child(even) {
  background-color: rgb(188, 143, 143);
}

.food-container .food-category-table .food-item span:nth-child(2) {
  position: absolute;
  left: 5rem;
}

.food-container .food-category-table .food-item span:nth-child(3) {
  position: absolute;
  right: 1rem;
}
