/* elements */

h1, h2 {
    color: #00ff00;
}

h3{
    color:red;
}

/* div.main */

div.main h3{
    color:#0066ff;
}

div.main p{
    color: #20b2aa;
}

div.main p::selection{
    color: #7fff00;
}

div.main p::first-letter {
    color: #0066ff;
}

/* anchor tag */

a{
    text-decoration: none;
    color: #000000;
}

a.highlight:hover{
    color: #ff0000;
}

/* id="secret" */

div#secret p{
    color: #8a2be2;
    display: none;
}

div#secret:hover p{
    display: block;
}