/* Body + global */

body{
    background-color: rgb(80, 80, 80);
    color: rgb(224, 224, 224);

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

a:hover{
    color: rgb(196, 95, 95);
}

h1{
    color: rgb(62, 154, 207);
    font-size: 2rem;
}

h2{
    color: rgb(196, 95, 95);
    font-size: 1.6rem;
}

/* Header, footer */

header, footer{
    background-color: rgb(65, 65, 65);
    height: 10vh;
    width: 100vw;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
}

header > nav, footer .footer-container{

    margin: 0 2.5vw;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    gap: 2rem;
}

/* Main stylinq */

.main-container{
    padding-bottom: 2rem;
    margin: auto;
    width: 90vw;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}

.main-container > section{

    text-align: justify;
    padding-top: 2rem;
}

.main-container > section h1, .main-container > section h2, .main-container > section p{
    margin-bottom: 1rem;
}